<aside class="sidebar">
    <div class="brand">
      <h1>Gym Management</h1>
    </div>
    <nav class="menu">
      <ul>
        <li><a (click)="goBack()" routerLinkActive="active"><span class="material-icons">dashboard</span>Dashboard</a></li>
        <li><a (click)="loadTrainees()" routerLinkActive="active"><span class="material-icons">inventory_2</span>Trainee</a></li>
        <li><a (click)="toAddtrainee()" routerLinkActive="active"><span class="material-icons">receipt_long</span>Add Trainee</a></li>
        <li><a (click)="toSubscription()" routerLinkActive="active"><span class="material-icons">list_alt</span>Subscription</a></li>
        <li><a (click)="toPayment()" routerLinkActive="active"><span class="material-icons">price_check</span>Payment</a></li>
        <li><a (click)="toAdmin()" routerLinkActive="active"><span class="material-icons">people</span>Admins</a></li>
        <li><a (click)="logout()" routerLinkActive="active"><span class="material-icons">logout</span>Logout</a></li>
      </ul>
    </nav>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </aside>
  
